<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable:no"/>
	<title>星爷喊你来做鱼</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="referrer" content="always">
	<link rel="stylesheet" type="text/css" href="./public/css/base.css">
	<link rel="stylesheet" type="text/css" href="./public/css/common.css">
	<link rel="stylesheet" type="text/css" href="./public/css/animate.min.css">
	<style type="text/css">
		.loader{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#f4f4f4;z-index:100000}
		.loader-bar{position:absolute;top:48%;left:50%;width:200px;height:6px;margin-left:-100px;background-color:#fff;border-radius:3px;overflow: hidden;}
		.loader-progress{position:absolute;left:0;top:0;width:0;height:100%;background-color:#209f20; -webkit-transition: width 1s; transition: width 1s; border-radius:3px; }
		html{background-color: #f6f6f6;}
		.global-logo{
			position: fixed;
			top: 1rem;
			left: 1rem;
			width: 10rem;
			z-index: 1000;
		}
		.step-7 .wrap{
			height: 100%;
			padding: 1.5rem;
		}
		.step-7 .wrap ul{
			display: inline-block;
			width: 11.7rem;
			vertical-align: top;
		}
		.step-7 .wrap ul li{
			display: inline-block;
			width: 11.7rem;
			margin-top: 0.5rem;
			min-height: 2rem;
			border: 1px solid #f597be;
		}
		.step-7 .wrap ul li a{
			display: block;
			position: relative;
		}
		.load-more{
			height: 3rem;
			line-height: 3rem;
			text-align: center;
			color: #666;
		}
		.player-name{
			position: absolute;
			display: inline-block;
			left: 1rem;
			bottom: 1rem;
			font-size: 1.3rem;
			color: #2e2f7b;
		}
	</style>
	<!-- 接入斐波那契 
    <script id="fiboDataSDK" type="text/javascript" src="http://sdk.fibodata.com/data/datasdk.min.js?pfid=AIDPmspP&appid=dab53a95772f351c456468ddd8db8061">
	</script> -->
	
	<!-- 微信自定义分享 -->
	<!-- <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script type="text/javascript">
		   
		var url = document.URL;
		//alert(url);
		var signature = "";
		if(url.substr(url.length-1) == "?"){
			signature = "<%=signature2%>" ;
		}else{
			signature = "<%=signature%>" ;
		}

		var shareTitle = "星爷喊你来做鱼";   
		var shareDesc = "电影《美人鱼》&剧版《美人鱼2》 演员甄选城市直通赛";
		var shareImg = "http://t1.miaoxing100.cn/H5/Mermaid/public/img/logo2.png";
		var shareLink = url;

		var appId = "<%=appId%>";
		var timestamp = "<%=timestamp%>";
		var noncestr = "<%=noncestr%>";

		wx.config({
			debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			appId: appId, // 必填，公众号的唯一标识
			timestamp: timestamp, // 必填，生成签名的时间戳
			nonceStr: noncestr, // 必填，生成签名的随机串
			signature: signature, // 必填，签名，见附录1
			jsApiList: [
					'onMenuShareTimeline',
					'onMenuShareAppMessage',
					'showOptionMenu'
				] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2

		});

		wx.ready(function() {
			share();
			//$('#video').get(0).play();
			//$('#video').get(0).pause();
		});
		wx.error(function(res) {
			alert('wx.error: ' + JSON.stringify(res));
		});

		function share() {
			wx.showOptionMenu();
			wx.onMenuShareTimeline({
				title: shareTitle, // 分享标题
				link: shareLink, // 分享链接
				imgUrl: shareImg,
				trigger: function(res) {
					//    alert('用户点击分享到朋友圈');
				},
				success: function() {
					// 用户确认分享后执行的回调函数
					dataSDK.share('timeline');
				},
				cancel: function() {
					// 用户取消分享后执行的回调函数
					//alert('已取消');
				} 
			});
			wx.onMenuShareAppMessage({
				title: shareTitle, // 分享标题
				link: shareLink, // 分享链接
				imgUrl: shareImg,
				desc: shareDesc, // 分享描述
				type: '', // 分享类型,music、video或link，不填默认为link
				dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
				trigger: function(res) {
					//alert('用户点击分享给朋友');
				},
				success: function(res) {
					// 用户确认分享后执行的回调函数
					dataSDK.share('friend');
				},
				cancel: function(res) {
						// 用户取消分享后执行的回调函数
				} 
			});
		}
	</script> -->
</head>
<body>
	<div class='main'>
		<div class="loader" id="animate-loader" style="_display: none !important;">
			<div class="loader-bar">
				<div class="loader-progress" id="loader-progress"></div>
			</div>
		</div>
		<div class="" id="app">				
			<div class="game-wrap" v-show="is_inited">
				<!-- top logo -->
				<img :src="step_7.imgs.bg" style="position: fixed;left:0;top:0;width: 100%;height:100%;z-index: 1;">
				<img class="global-logo" :src="imgs.logo">
				<!-- step 7 -->
				<div class="step step-7 bg-cover" style="z-index: 100;position: relative;">
					<div class="wrap">
						<div>
							<img class="w-100" style="width:99.5%;" :src="step_7.imgs.top_banner" @click="goHome()">
						</div>
						<ul>
							<li v-for="(item, key) in playerList" v-if="(key%2) == 0"><a :href="'http://t1.miaoxing100.cn/H6/Mermaid/index.jsp?pid='+item.pid"><img class="w-100" :src="item.img">
								<span class="player-name" style="font-weight: bold;left:.2rem;">{{item.name}}  {{item.porder}}号</span>
							</a></li>
						</ul>
						<ul style="text-align: right;">
							<li v-for="(item, key) in playerList" v-if="(key%2) == 1"><a :href="'http://t1.miaoxing100.cn/H6/Mermaid/index.jsp?pid='+item.pid"><img class="w-100" :src="item.img">
								<span class="player-name" style="font-weight: bold;left:.2rem;">{{item.name}}  {{item.porder}}号</span>
							</a></li>
						</ul>
					</div>
				</div>
				<div class="load-more" style="" v-show="is_loading && has_loaded">加载中...</div>
			</div>
			<!-- pop box -->
			
		</div>
	</div>
<script type="text/javascript" src="./public/js/libs/jquery.min.js"></script>
<!-- <script type="text/javascript" src="http://jackgit.github.io/image-editor/assets/js/jquery.js"></script>  -->
<script type="text/javascript" src="./public/js/libs/md5.js"></script>
<script type="text/javascript" src="./public/js/common.js"></script>
<script type="text/javascript" src="./public/js/libs/vue.min.js"></script>
<script type="text/javascript">
	// images base path
	var imageBase = './public/img/';
	var debug = false;
	var editor = null;
	var size = 10;
	$(function(){
		var app = new Vue({
		  el: '#app',
		  data: {
		  	is_inited: false,
		  	imgs: {
		  		bg: imageBase + 'bg.png',
		  		logo: imageBase + 'logo.png',
		  		bottom: imageBase + 'bottom.png',
		  		pre_btn: imageBase + 'pre_btn.png'
		  	},
		  	is_loading:false,
		  	has_loaded: false,
		    pop:{
		    	isHide: true,
		    	fadeOut: false,
		    	content: '恭喜',
		    	bg:'../public/img/dialog.png',
		    },
		    step_7: {
		    	imgs: {
		    		bg: imageBase + 'step_7/bg.png',
		    		load_more_txt: imageBase + 'step_7/load_more_txt.png',
		    		top_banner: imageBase + 'step_7/top_banner.png'
		    	}
		    },
		    playerList: []
		  },
		  filters: {
			capitalize: function (value) {
			  if (!value) return ''
			  value = value.toString()
			  return value.charAt(0).toUpperCase() + value.slice(1)
			},
			int: function(value) {
				return parseInt(value);
			}
		  },
		  created: function() {
		  	self = this;
		  	this.init();
		  	//this.initImageEditor();
		  },
		  methods: {
		  	init: function() {
		  		this.loadPlayers();
		  	},
		  	loadPlayers: function(){
		  		this.is_loading = true;
		  		var timestamp = new Date().valueOf();
		  		var sig = 'size=' + size + '&timestamp=' + timestamp;
		  			sig = md5(sig).toUpperCase();
		  		var postData = {
		  			size: size,
		  			timestamp: timestamp,
		  			sig: sig
		  		}
		  		api_post('getPlayerList', postData, function(ret){
		  			self.is_loading = false;
		  			if(ret.code == 200){
		  				self.playerList = ret.PlayerList;
		  				setTimeout(function(){
		  					self.is_inited  = true;
		  				},500);
		  			}
		  		});
		  	},
		  	start: function(key) {

		  	},
		  	goHome: function() {
		  		window.location.href = 'http://t1.miaoxing100.cn/H5/Mermaid/index.jsp';
		  	},
		  	openPopBox: function(index) {
		  		this.pop.index = index || 0;
		  		this.pop.isHide = false;
		  	},
		  	closePopBox:function(callback) {
		  		var self = this;
		  		this.pop.fadeOut = true;
		  		setTimeout(function(){
		  			self.pop.fadeOut = false;
		  			self.pop.isHide = true;
		  			callback && callback();
		  		},600);
		  	}
		  }
		});

		$(document).ready(function(){  
	        var range = 50;             //距下边界长度/单位px  
	        //var elemt = 500;           //插入元素高度/单位px  
	        //var maxnum = 20;            //设置加载最多次数  
	        //var num = 1;  
	        var totalheight = 0;   
	        //var main = $("#content");                     //主体元素  
	        $(window).scroll(function(e){ 
	            var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)  
	            totalheight = parseFloat($(window).height()) + parseFloat(srollPos);  
	            if(($(document).height()-range) <= totalheight) {  
	                // main.append("<div style='border:1px solid tomato;margin-top:20px;color:#ac"+(num%20)+(num%20)+";height:"+elemt+"' >hello world"+srollPos+"---"+num+"</div>");  
	                // num++;  
	                size += 6;
	                app.$data.has_loaded = true;
	                app.loadPlayers();
	            }  
	        });  
	    });  
	});
	;(function(){
		var $loader_pro = $('#loader-progress');
		function Loader(){
			this.init();
		}
		var p = Loader.prototype;
		p.loadedCount = 0;
		p.assets = [];
		p.loadImage = function(images){
			var self = this;
			for(var index in images){
				var img = new Image();
				img.src = images[index];
				img.addEventListener('load',function(){
					self.loadedCount ++;
					//log(this);
					self.loaderUpdate(self.loadedCount);
				});
				this.assets.push(img);
			}	
		}
		p.loaderUpdate = function(count){
			//log(count);
			$loader_pro.css({'width':(parseFloat(count)/this.assets.length  )*100+'%'});
			//alert(count/(this.assets.length));
			if(count >= (this.assets.length)){
				//game.remove(game.loadProgressText);
				setTimeout(function(){
					$loader_pro.parent().parent().addClass('animated fadeOut');
				},500);
  				setTimeout(function(){
					$loader_pro.parent().parent().remove();
					//app.init();
				},1000);
			}
		}
		p.init = function(){
			var self = this;
			self.loadImage([
					imageBase + 'logo.png',
					imageBase + 'step_7/bg.png',
		    		imageBase + 'step_7/load_more_txt.png',
		    		imageBase + 'step_7/top_banner.png'
				]);
		}
		var loader = new Loader();
		window.loader = loader;
	})();
</script>
</body>
</html>


